body{
   background-color:#048853 ;
}
.nav-bar{
 background-color: #35d1bb;
}
.nav-link{
	font-kerning: 16px;
}
.nav-link.active{
	font-weight: 700;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #048853;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container{
	width: 100%;
	margin: 0 auto;
}
.container:after{
	content:'';
	display: block;
	clear: both;
}
.active{
	background-color: #048853;
	color: #fff;
}
.button-secondary{
	width: 100px;
	height: 40px;
	background-color:#048853;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	border: none;
}
.button-primary{
	width: 100px;
	height: 40px;
	background-color: transparent;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border: none;
}
.arrow-primary{
	width: 30px;
	margin-left: 30px;
}
.banner{
	height: 90vh;
	background-image: url(../img/benner3.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(53,209,187,);
}
.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}

.benner0{
	height: 10vh;
	background-color: #048853;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner1{
	height: 120vh;
	background-image: url(../img/benner4.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner2{
	height: 100vh;
	background-image: url(../img/benner5.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner3{
	height: 130vh;
	background-image: url(../img/benner12.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner4{
	height: 120vh;
	background-image: url(../img/benner7.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner5{
	height: 120vh;
	background-image: url(../img/benner8.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner6{
	height: 120vh;
	background-image: url(../img/benner6.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner7{
	height: 120vh;
	background-image: url(../img/benner11.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-primary{
	color: #fff;
}
.arrow-primary{
	width: 30px;
	margin-left: 30px;
}
.button-lg-primary{
	width: 250px;
	height: 40px;
	background-color:#fff;
	color: #048853;
	border: none;
	font-size: 20px;
	font-weight: 700;
}
.arrow{
	width: 50px;
	margin-left: 30px;
}
section{
	padding: 0px 0;
	background-color:#048853  ;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #35d1bb;
}
footer{
	padding: 20px 0;
	background-color:#1E9445 ;
	color: #fff;
	text-align: center;
}
